{% extends "base.html" %}
{% block contena %}
<hr>
<div class="contena row"> 
    {% for key in db.keys() %}
    {% for i in db[key] %}
    {% if  key == 'led' %}
    <div class="col-lg-3">
      <img id="{{ i + etat }}" onclick="Onbtm(demo('{{i}}','{{ i+ etat}}'))" src="{{ 'static/img/eteindre.png' if db[key][i] != 'Allumer' else 'static/img/alumer.png'}}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img">
        <br>
      <h2 class="fw-normal">{{i}}</h2>
      <br>
        <p class="lead">
          <a id="{{i}}" onclick="Onbtm(demo('{{i}}','{{ i+ etat}}'))" class="btn-secondary btn btn-lg btn-light fw-bold border-white bg-white xbtm">{{db[key][i]}}</a>
        </p>
      </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
<hr>
{% endblock %}