{% extends "base.html" %}
{% block contena %}
<main class="contena">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <img src="static/img/logo1.svg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img">
          <h2 class="fw-normal">ABOUT</h2>
          <p>we are Startup of itech </p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <img src="static/img/img1.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img">
            <h2 class="fw-normal">Our Services</h2>
          <p>Let's work together on your next project </p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="static/img/img.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img">
            <h2 class="fw-normal">Contact</h2>
          <p>Get In Touch</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Hi, I'm AGBO Martin. <span class="text-muted">CEO of OpenIoTfly.</span></h2>
          <p class="lead">I'm a engener python , iot and deep lernning with extensive experience for over 3 years. 
            My expertise is to create and develloped need of customer like api,computer vision ,domotic and more...
          </p>
          <p><a class="btn btn-secondary" href="#">About me &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="static/img/2.png" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Hello, My name is TCHALEDJI Aboubakar. <span class="text-muted">CEO of OpenIoTfly.</span></h2>
            <p class="lead">I'm a engener mecanique and electrisien with extensive experience for over 6 years. 
                My expertise is to buld strong systeme and security advenc more...
              </p>
              <p><a class="btn btn-secondary" href="#">About me &raquo;</a></p> </div>
        <div class="col-md-5 order-md-1">
            <img src="static/img/abou.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"> Hi , My name is SOUMTA Wensa <span class="text-muted">CEO of OpenIoTfly.</span></h2>
          <p class="lead">I'm designer, and marketing agency with over 5 years of experience. 
            My expertise is to create and design need of customer like web interface ,marketing advences and more...
          </p>
          <p><a class="btn btn-secondary" href="#">About me &raquo;</a></p> </div>
        <div class="col-md-5">
          <img src="static/img/w.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
      </div>
  
      <hr class="featurette-divider">
  
    </div><!-- /.container -->
  
    <!-- FOOTER -->

  </main>
{% endblock %}